{% extends "base0.html" %}
{% block title %} GRM DASHBOARD {% endblock %}


{% block content %}


    <div class="container">


        <h3><a href="https://www.githubstatus.com/" target="_blank">🪜</a> {{ status }}</h3>
        

       
        <div class="horizontal-divider"></div> <!-- horidividal-->
        <p> LAST INCIDENT</p>
        <h4> {{ incident.title[0] }} </h4>
        <p>{{ incident.published[0] }}</p>
        <p><a href="{{ incident.link[0] }}" target="_blank">Incident Link</a></p>

        <div class="horizontal-divider"></div> <!-- horidividal-->
        <p> SCHEDULED MAINTENANCE </p>
        <h4> {{ events.title[0] }} </h4>
        <p>{{ events.endtime[0] }}</p>
        <p><a href="{{ events.link[0] }}" target="_blank">Event Link</a></p>


        <div class="horizontal-divider"></div> <!-- horidividal-->

<p> INCIDENT HISTORY </p>
    {% for n in range(incidentHistory.title|length) %}

        <h4>{{ incidentHistory.title[n] }}</h4>
        <p>{{ incidentHistory.published[n] }}</p>
        <p><a href="{{ incidentHistory.link[n] }}" target="_blank">Incident Link</a></p>
    {% endfor %}

    </div>

    <div class="container">
        <h2 style="text-align: center;"> {{ time }} </h2>
        <!img src="{{ url_for('static', filename='images/test_400x400.png') }}" alt="its a dinosaur" class="trex">
        <div class="horizontal-divider"></div> <!-- horidividal-->

<p>CHANGELOGS</p>
        {% for n in range(changelogs.title|length) %}
        <h4>{{ changelogs.title[n] }}</h4
        <p>{{ changelogs.published[n] }}</p>
        <p><a href="{{ changelogs.link[n] }}" target="_blank">Change Link</a></p>
        {% endfor %}
    </div>
    <div class="container">
    <div class="horizontal-divider"></div> <!-- horidividal-->

<p> BLOG FEED </p>
        {% for n in range(blogfeed.title|length) %}
        <h4>{{ blogfeed.title[n] }}</h4>
        <p>{{ blogfeed.published[n] }}</p>
        <p><a href="{{ blogfeed.link[n] }}" target="_blank">Blog Link</a></p>

        {% endfor %}


{% endblock %}
    </div>
